# Entornos virtuales
.ticket/
venv/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Reportes y logs
*.csv
*.xml
*.html
*.coverage
.coverage*
coverage/
report*.xml
reporte.postman.html

# Configs locales
.env
.env.*
*.db

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Carpeta de VSCode/PyCharm
.vscode/
.idea/
